bcrypt
blinker
click
cffi
Flask
Flask-SQLAlchemy
Flask-Bcrypt  
Flask-WTF
iniconfig  
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging  
psycopg2-binary
six
python-dotenv
flask-login
SQLAlchemy
typing_extensions
Werkzeug
WTForms
pip