<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Movie Tracker</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="content">
            <nav>
                <a href="/">Home</a>
                <div>
                    {% if current_user.is_authenticated %}
                        <a href="/create_movie">Create Movie</a>
                        <a href="/create_director">Create Director</a>
                        <a href="/logout">Log Out</a>
                    {% else %}
                        <a href="/signup">Sign Up</a>
                        <a href="/login">Log In</a>
                    {% endif %}
                </div>
            </nav>

            {% if current_user.is_authenticated %}
                <p>You are logged as in {{ current_user.username }}</p>
            {% endif %}

            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
