{% extends 'base.html' %}

{% block content %}
    <h1>New Director</h1>

    <form action="{{ url_for('main.create_director') }}" method="POST">
       {{ form.csrf_token }}
        <fieldset>
            <legend>Enter a director</legend>

            <!-- Director -->
            {{ form.name.label }}
            {{ form.name }}

            <ul>
            {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
            
            <!-- Director Bio -->
            {{ form.biography.label }}
            {{ form.biography }}

            <ul>
            {% for error in form.biography.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
             

            {{ form.submit }}
        </fieldset>
    </form>
{% endblock %}
