{% extends 'base.html' %}


{% block content %}

<h1>Log In</h1>

<!-- Login Form -->
<form action="/login" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        {{ form.username.label }}
        {{ form.username }}

        <ul>
            {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.password.label }}
        {{ form.password }}
        <ul>
            {% for error in form.password.errors %}
                <li class="error text-decoration-none">{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}