{% extends 'base.html' %}

{% block content %}

<h1>{{ movie.name }}</h1>

{% if current_user.is_authenticated %}
    {% if movie not in current_user.favorite_movies %}
    <form action="/favorite/{{ movie.id }}" method="POST">
        <input type="submit" value="Favorite Movie">
    </form>
    {% else %}
    <form action="/unfavorite/{{ movie.id }}" method="POST">
        <input type="submit" value="Unfavorite Movie">
    </form>
    {% endif %}
{% endif %}

<form method="POST" action="{{ url_for('main.movie_detail', movie_id=movie.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this movie</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.year.label }}
        {{ form.year(placeholder="YYYY-mm-dd") }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
